openapi: 3.1.0
info:
  title: BugMine API
  version: "1.0.0"
  description: |
    A catalog of what actually breaks — bugs and outages across an entire stack — with
    scanning that reports which of them reach your code.

    Design decisions are explained in README.md alongside this file. Two are load-bearing:
    `/v1/public/*` is a separate unauthenticated route tree rather than a scope parameter, and
    `POST /v1/check/dependencies` is the primary read path because it enables client-side
    scanning where source code never leaves the developer's machine.
  license:
    name: Proprietary
servers:
  - url: https://api.bugmine.dev/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Local

tags:
  - name: public
    description: Unauthenticated. `public` scope only (FR-73).
  - name: auth
  - name: invites
    description: Onboarding is invite-only (FR-76 – FR-79).
  - name: catalog
  - name: check
    description: The client-side scanning path.
  - name: scans
  - name: findings
  - name: jobs
  - name: sources
    description: Tenant-triggered ingestion.
  - name: tenant
  - name: usage
  - name: admin
    description: BugMine operators only.

security:
  - bearerAuth: []

paths:
  # ---------------------------------------------------------------- public
  /public/bugs/search:
    get:
      tags: [public]
      summary: Search public bugs
      description: Searches `public` scope only. Never returns `subscriber` or `tenant` records.
      security: []
      operationId: searchPublicBugs
      parameters:
        - $ref: "#/components/parameters/Query"
        - $ref: "#/components/parameters/SubjectDomain"
        - $ref: "#/components/parameters/BugType"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Matching bugs
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BugPage" }
              example:
                items:
                  - id: bug_01J8XK3QW7ZN4M2P
                    scope: public
                    origin: crawled
                    lifecycle_state: active
                    bug_type: breaking_change
                    subject_domain: repo_library
                    component: { ref: langchain, ecosystem: pypi, display_name: LangChain }
                    applicability:
                      kind: version_range
                      scheme: semver
                      introduced_in: 0.3.0
                      fixed_in: 0.3.4
                    title: Retry semantics changed for tool-calling chains
                    evidence_url: https://github.com/langchain-ai/langchain/releases/tag/v0.3.0
                    observed_at: "2026-07-14T09:12:00Z"
                next_cursor: eyJvIjoxfQ
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }

  /public/bugs/{bug_id}:
    get:
      tags: [public]
      summary: Get a public bug
      security: []
      operationId: getPublicBug
      parameters: [{ $ref: "#/components/parameters/BugId" }]
      responses:
        "200":
          description: The bug
          content: { application/json: { schema: { $ref: "#/components/schemas/Bug" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /public/bugs/{bug_id}/versions:
    get:
      tags: [public]
      summary: Version history for a public bug
      security: []
      operationId: listPublicBugVersions
      parameters:
        - $ref: "#/components/parameters/BugId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Versions, newest first
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BugVersionPage" }
        "404": { $ref: "#/components/responses/NotFound" }

  /public/outages:
    get:
      tags: [public]
      summary: Current provider outages
      security: []
      operationId: listPublicOutages
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Active outages
          content: { application/json: { schema: { $ref: "#/components/schemas/BugPage" } } }

  # ------------------------------------------------------------------ auth
  /auth/device/code:
    post:
      tags: [auth]
      summary: Begin the device-authorization flow
      description: Used by the CLI and the local MCP server, which have no browser redirect.
      security: []
      operationId: createDeviceCode
      responses:
        "200":
          description: Codes to display and poll with
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeviceCode" }

  /auth/device/token:
    post:
      tags: [auth]
      summary: Exchange a device code for tokens
      security: []
      operationId: exchangeDeviceCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_code]
              properties:
                device_code: { type: string }
      responses:
        "200":
          description: Tokens
          content: { application/json: { schema: { $ref: "#/components/schemas/TokenPair" } } }
        "400":
          description: Pending, denied, or expired — see the error code
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  /auth/token/refresh:
    post:
      tags: [auth]
      summary: Refresh an access token
      security: []
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: New tokens
          content: { application/json: { schema: { $ref: "#/components/schemas/TokenPair" } } }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # --------------------------------------------------------------- invites
  /invites/{token}:
    get:
      tags: [invites]
      summary: Preview an invite before accepting
      description: Unauthenticated so the recipient can see who invited them before signing in.
      security: []
      operationId: previewInvite
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Invite details
          content: { application/json: { schema: { $ref: "#/components/schemas/InvitePreview" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /invites/{token}/accept:
    post:
      tags: [invites]
      summary: Accept an invite
      description: |
        Requires an authenticated identity whose email matches the invite (FR-78). Single-use.
      operationId: acceptInvite
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Membership created
          content: { application/json: { schema: { $ref: "#/components/schemas/Membership" } } }
        "403":
          description: Authenticated email does not match the invite
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }
        "409":
          description: Already accepted or expired
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  # --------------------------------------------------------------- catalog
  /bugs/search:
    get:
      tags: [catalog]
      summary: Search the catalog
      description: Returns `public ∪ subscriber ∪ own-tenant` (FR-7, FR-72).
      operationId: searchBugs
      parameters:
        - $ref: "#/components/parameters/Query"
        - $ref: "#/components/parameters/SubjectDomain"
        - $ref: "#/components/parameters/BugType"
        - name: scope
          in: query
          description: Restrict to one scope. Omitted means all scopes the caller may see.
          schema: { $ref: "#/components/schemas/PrivacyScope" }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Matching bugs
          content: { application/json: { schema: { $ref: "#/components/schemas/BugPage" } } }
        "422": { $ref: "#/components/responses/Unprocessable" }

  /bugs/{bug_id}:
    get:
      tags: [catalog]
      summary: Get a bug
      description: Returns 404 rather than 403 when the record is outside the caller's scope.
      operationId: getBug
      parameters: [{ $ref: "#/components/parameters/BugId" }]
      responses:
        "200":
          description: The bug
          content: { application/json: { schema: { $ref: "#/components/schemas/Bug" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /bugs/{bug_id}/versions:
    get:
      tags: [catalog]
      summary: Version history
      operationId: listBugVersions
      parameters:
        - $ref: "#/components/parameters/BugId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Versions, newest first
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BugVersionPage" }
        "404": { $ref: "#/components/responses/NotFound" }

  /bugs/changes:
    get:
      tags: [catalog]
      summary: Changes since a watermark
      description: The poll path (FR-8). Use `next_cursor` as the next `since`.
      operationId: listBugChanges
      parameters:
        - name: since
          in: query
          required: true
          description: RFC 3339 timestamp, or a cursor from a previous response.
          schema: { type: string }
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Changed records
          content: { application/json: { schema: { $ref: "#/components/schemas/BugPage" } } }

  /components:
    get:
      tags: [catalog]
      summary: Search the component registry
      description: Resolves aliases — `postgres`, `postgresql` and `PostgreSQL` are one component.
      operationId: searchComponents
      parameters:
        - $ref: "#/components/parameters/Query"
        - $ref: "#/components/parameters/SubjectDomain"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Components
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ComponentPage" }

  # ----------------------------------------------------------------- check
  /check/dependencies:
    post:
      tags: [check]
      summary: Check a dependency set against the catalog
      description: |
        The client-side scanning path. Send resolved dependencies; receive known bugs. Only
        component names and versions cross the network — source code never leaves the machine.

        A POST despite being a read: the request body is large and structured.

        Components absent from the catalog are returned in `not_covered` rather than omitted
        (FR-39), because silence would read as a clean bill of health.
      operationId: checkDependencies
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DependencyCheckRequest" }
            example:
              dependencies:
                - { ecosystem: pypi, name: langchain, version: 0.3.1 }
                - { ecosystem: pypi, name: requests, version: 2.32.3 }
                - { ecosystem: npm, name: left-pad, version: 1.3.0 }
              bug_types: [functional, breaking_change, deprecation, security]
      responses:
        "200":
          description: Known bugs, plus components with no coverage
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DependencyCheckResult" }
              example:
                matches:
                  - dependency: { ecosystem: pypi, name: langchain, version: 0.3.1 }
                    bug_id: bug_01J8XK3QW7ZN4M2P
                    bug_type: breaking_change
                    title: Retry semantics changed for tool-calling chains
                    version_confirmed: true
                    citation: { bug_version_id: bugv_01J8XK4R, evidence_url: "https://github.com/..." }
                not_covered:
                  - { ecosystem: npm, name: left-pad, version: 1.3.0, reason: component_not_in_catalog }
                checked_at: "2026-08-22T17:04:11Z"
        "413":
          description: Too many dependencies in one request
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }

  # ----------------------------------------------------------------- scans
  /scans:
    get:
      tags: [scans]
      summary: List scans
      operationId: listScans
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Scans, newest first
          content: { application/json: { schema: { $ref: "#/components/schemas/ScanPage" } } }
    post:
      tags: [scans]
      summary: Request a server-side scan
      description: |
        Used by the GitHub App and CI, which have no local machine. Prefer
        `POST /check/dependencies` from an IDE — it does not transmit source.

        Returns 202 with a job handle (FR-13).
      operationId: createScan
      parameters: [{ $ref: "#/components/parameters/IdempotencyKey" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ScanRequest" }
      responses:
        "202":
          description: Accepted
          content: { application/json: { schema: { $ref: "#/components/schemas/JobHandle" } } }
        "402":
          description: Tenant token quota exhausted
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }
        "422": { $ref: "#/components/responses/Unprocessable" }

  /scans/{scan_id}:
    get:
      tags: [scans]
      summary: Get a scan
      operationId: getScan
      parameters: [{ $ref: "#/components/parameters/ScanId" }]
      responses:
        "200":
          description: The scan
          content: { application/json: { schema: { $ref: "#/components/schemas/Scan" } } }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [scans]
      summary: Purge a scan and its snapshot early
      operationId: deleteScan
      parameters: [{ $ref: "#/components/parameters/ScanId" }]
      responses:
        "204": { description: Purged }
        "404": { $ref: "#/components/responses/NotFound" }

  /scans/{scan_id}/findings:
    get:
      tags: [scans]
      summary: Findings for a scan
      operationId: listScanFindings
      parameters:
        - $ref: "#/components/parameters/ScanId"
        - name: reachable
          in: query
          description: Filter by reachability. `null` means undetermined — reported, not suppressed.
          schema: { type: boolean }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Findings
          content: { application/json: { schema: { $ref: "#/components/schemas/FindingPage" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  # -------------------------------------------------------------- findings
  /findings/{finding_id}:
    get:
      tags: [findings]
      summary: Get a finding with its citations
      operationId: getFinding
      parameters: [{ $ref: "#/components/parameters/FindingId" }]
      responses:
        "200":
          description: The finding
          content: { application/json: { schema: { $ref: "#/components/schemas/Finding" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  /findings/{finding_id}/disposition:
    put:
      tags: [findings]
      summary: Set a disposition on a finding
      description: |
        FR-57. `not_applicable` and `wrong` are deliberately distinct: the first indicts
        reachability, the second indicts the catalog. Idempotent, hence PUT.
      operationId: setFindingDisposition
      parameters: [{ $ref: "#/components/parameters/FindingId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DispositionRequest" }
            example: { disposition: not_applicable, reason: "We never call the affected codepath." }
      responses:
        "200":
          description: Recorded
          content: { application/json: { schema: { $ref: "#/components/schemas/Finding" } } }
        "404": { $ref: "#/components/responses/NotFound" }

  # ------------------------------------------------------------------ jobs
  /jobs/{job_id}:
    get:
      tags: [jobs]
      summary: Job state
      description: FR-6. One shape for every job type.
      operationId: getJob
      parameters: [{ $ref: "#/components/parameters/JobId" }]
      responses:
        "200":
          description: The job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
              example:
                id: job_01J8XM7A2C
                type: scan_analyze
                state: budget_exceeded
                failure_reason: "Reservation of 250000 tokens exhausted after 4 stages."
                created_at: "2026-08-22T16:58:00Z"
                started_at: "2026-08-22T16:58:04Z"
                finished_at: "2026-08-22T17:03:41Z"
        "404": { $ref: "#/components/responses/NotFound" }

  /jobs:
    get:
      tags: [jobs]
      summary: List jobs
      operationId: listJobs
      parameters:
        - name: type
          in: query
          schema: { $ref: "#/components/schemas/JobType" }
        - name: state
          in: query
          schema: { $ref: "#/components/schemas/JobState" }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Jobs
          content: { application/json: { schema: { $ref: "#/components/schemas/JobPage" } } }

  /jobs/{job_id}/cancel:
    post:
      tags: [jobs]
      summary: Cancel a job
      operationId: cancelJob
      parameters: [{ $ref: "#/components/parameters/JobId" }]
      responses:
        "200":
          description: Cancelled
          content: { application/json: { schema: { $ref: "#/components/schemas/Job" } } }
        "409":
          description: Already terminal
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  # --------------------------------------------------------------- sources
  /sources:
    get:
      tags: [sources]
      summary: List this tenant's crawl sources
      operationId: listSources
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Sources
          content: { application/json: { schema: { $ref: "#/components/schemas/SourcePage" } } }
    post:
      tags: [sources]
      summary: Add a crawl source
      description: |
        Output is `tenant` scope and never reaches public search (FR-74).

        The URL is validated against SSRF: DNS is resolved and the resulting address checked
        against private, loopback and link-local ranges before any fetch.
      operationId: createSource
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SourceRequest" }
      responses:
        "201":
          description: Created
          content: { application/json: { schema: { $ref: "#/components/schemas/Source" } } }
        "422":
          description: Invalid, or the URL resolves to a disallowed address
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: source_url_not_permitted
                  message: "Host resolves to a private address (169.254.169.254)."
                  request_id: req_01J8XN

  /sources/{source_id}:
    get:
      tags: [sources]
      summary: Get a source
      operationId: getSource
      parameters: [{ $ref: "#/components/parameters/SourceId" }]
      responses:
        "200":
          description: The source
          content: { application/json: { schema: { $ref: "#/components/schemas/Source" } } }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [sources]
      summary: Update a source
      operationId: updateSource
      parameters: [{ $ref: "#/components/parameters/SourceId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SourceRequest" }
      responses:
        "200":
          description: Updated
          content: { application/json: { schema: { $ref: "#/components/schemas/Source" } } }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [sources]
      summary: Delete a source
      operationId: deleteSource
      parameters: [{ $ref: "#/components/parameters/SourceId" }]
      responses:
        "204": { description: Deleted }
        "404": { $ref: "#/components/responses/NotFound" }

  /sources/{source_id}/trigger:
    post:
      tags: [sources]
      summary: Trigger a crawl now
      operationId: triggerSource
      parameters:
        - $ref: "#/components/parameters/SourceId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: Accepted
          content: { application/json: { schema: { $ref: "#/components/schemas/JobHandle" } } }
        "429":
          description: Quota or rate limit
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  /sources/{source_id}/runs:
    get:
      tags: [sources]
      summary: Run history for a source
      description: Staleness is visible here — a source with no recent success is aging silently.
      operationId: listSourceRuns
      parameters:
        - $ref: "#/components/parameters/SourceId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Runs, newest first
          content: { application/json: { schema: { $ref: "#/components/schemas/JobPage" } } }

  # ---------------------------------------------------------------- tenant
  /tenant:
    get:
      tags: [tenant]
      summary: Get the current tenant
      operationId: getTenant
      responses:
        "200":
          description: The tenant
          content: { application/json: { schema: { $ref: "#/components/schemas/Tenant" } } }

  /tenant/members:
    get:
      tags: [tenant]
      summary: List members
      operationId: listMembers
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Members
          content: { application/json: { schema: { $ref: "#/components/schemas/MembershipPage" } } }

  /tenant/members/{user_id}:
    delete:
      tags: [tenant]
      summary: Remove a member
      operationId: removeMember
      parameters:
        - name: user_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "204": { description: Removed }
        "404": { $ref: "#/components/responses/NotFound" }

  /tenant/invites:
    get:
      tags: [invites]
      summary: List pending invites
      operationId: listInvites
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Pending invites
          content: { application/json: { schema: { $ref: "#/components/schemas/InvitePage" } } }
    post:
      tags: [invites]
      summary: Invite a user
      description: Single-use, expiring, bound to the given email (FR-77, FR-78).
      operationId: createInvite
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, role]
              properties:
                email: { type: string, format: email }
                role: { $ref: "#/components/schemas/Role" }
                team_id: { type: string, nullable: true }
      responses:
        "201":
          description: Invite created
          content: { application/json: { schema: { $ref: "#/components/schemas/Invite" } } }
        "409":
          description: Already a member, or an invite is already pending
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  /tenant/invites/{invite_id}:
    delete:
      tags: [invites]
      summary: Revoke an invite
      operationId: revokeInvite
      parameters:
        - name: invite_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "204": { description: Revoked }
        "404": { $ref: "#/components/responses/NotFound" }

  /tenant/api-keys:
    get:
      tags: [tenant]
      summary: List API keys
      description: Never returns the secret. Only the prefix, for identification.
      operationId: listApiKeys
      responses:
        "200":
          description: Keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/ApiKey" }
    post:
      tags: [tenant]
      summary: Create an API key
      description: The secret is returned exactly once, at creation.
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, principal]
              properties:
                name: { type: string }
                principal:
                  description: |
                    A user key may only be created for the calling user. A team key requires
                    tenant_admin. There is no tenant-wide option.
                  type: object
                  required: [kind, id]
                  properties:
                    kind: { type: string, enum: [user, team] }
                    id: { type: string }
                expires_at: { type: string, format: date-time, nullable: true }
      responses:
        "201":
          description: Created — `secret` will not be shown again
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ApiKeyWithSecret" }

  /tenant/api-keys/{key_id}:
    delete:
      tags: [tenant]
      summary: Revoke an API key
      operationId: revokeApiKey
      parameters:
        - name: key_id
          in: path
          required: true
          schema: { type: string }
      responses:
        "204": { description: Revoked }
        "404": { $ref: "#/components/responses/NotFound" }

  # ----------------------------------------------------------------- usage
  /usage:
    get:
      tags: [usage]
      summary: Usage by team and user
      description: FR-19.
      operationId: getUsage
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: group_by
          in: query
          schema: { type: string, enum: [team, user, job_type, unknown] }
      responses:
        "200":
          description: Usage rollup
          content: { application/json: { schema: { $ref: "#/components/schemas/UsageReport" } } }

  /usage/tokens:
    get:
      tags: [usage]
      summary: Token consumption detail
      description: |
        FR-17. Whether raw token counts are exposed to tenants is open (T-D6) — doing so
        couples pricing to model choice permanently.
      operationId: getTokenUsage
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date-time }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: Token usage
          content: { application/json: { schema: { $ref: "#/components/schemas/TokenUsageReport" } } }

  # ----------------------------------------------------------------- admin
  /admin/tenants:
    get:
      tags: [admin]
      summary: List tenants
      operationId: adminListTenants
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Tenants
          content: { application/json: { schema: { $ref: "#/components/schemas/TenantPage" } } }
    post:
      tags: [admin]
      summary: Provision a tenant
      description: The only way a tenant is created (FR-76). There is no self-serve path.
      operationId: adminCreateTenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, admin_email]
              properties:
                name: { type: string }
                admin_email: { type: string, format: email }
      responses:
        "201":
          description: Created, with an invite issued to the admin email
          content: { application/json: { schema: { $ref: "#/components/schemas/Tenant" } } }

  /admin/bugs/{bug_id}/retract:
    post:
      tags: [admin]
      summary: Retract a bug record
      description: |
        FR-67. A state change, never a delete. Invalidates every finding citing this record and
        notifies affected tenants (FR-68).
      operationId: adminRetractBug
      parameters: [{ $ref: "#/components/parameters/BugId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
      responses:
        "200":
          description: Retracted
          content: { application/json: { schema: { $ref: "#/components/schemas/Bug" } } }

  /admin/bugs/{bug_id}/scope:
    post:
      tags: [admin]
      summary: Change a record's privacy scope
      description: |
        FR-75. Narrowing is always permitted. Widening requires corroboration and is audited;
        an uncorroborated widening request is rejected with 409.
      operationId: adminSetBugScope
      parameters: [{ $ref: "#/components/parameters/BugId" }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scope, reason]
              properties:
                scope: { $ref: "#/components/schemas/PrivacyScope" }
                reason: { type: string }
      responses:
        "200":
          description: Scope changed
          content: { application/json: { schema: { $ref: "#/components/schemas/Bug" } } }
        "409":
          description: Widening without corroboration
          content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  /admin/coverage:
    get:
      tags: [admin]
      summary: Catalog coverage by subject and origin
      description: FR-56, FR-39 — what is covered, by which origin, and when it last updated.
      operationId: adminGetCoverage
      responses:
        "200":
          description: Coverage
          content: { application/json: { schema: { $ref: "#/components/schemas/CoverageReport" } } }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        A session access token, or an API key prefixed `bmk_`. Every key is bound to a single
        user or team (FR-80); there are no tenant-wide keys, because usage attribution per team
        and per user depends on the principal being unambiguous.

  parameters:
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      name: cursor
      in: query
      description: Opaque. From `next_cursor` in a previous response.
      schema: { type: string }
    Query:
      name: q
      in: query
      schema: { type: string }
    SubjectDomain:
      name: subject_domain
      in: query
      schema: { $ref: "#/components/schemas/SubjectDomain" }
    BugType:
      name: bug_type
      in: query
      schema: { $ref: "#/components/schemas/BugType" }
    BugId:
      name: bug_id
      in: path
      required: true
      schema: { type: string, pattern: "^bug_[0-9A-HJKMNP-TV-Z]{26}$" }
    ScanId:
      name: scan_id
      in: path
      required: true
      schema: { type: string, pattern: "^scan_[0-9A-HJKMNP-TV-Z]{26}$" }
    FindingId:
      name: finding_id
      in: path
      required: true
      schema: { type: string, pattern: "^fnd_[0-9A-HJKMNP-TV-Z]{26}$" }
    JobId:
      name: job_id
      in: path
      required: true
      schema: { type: string, pattern: "^job_[0-9A-HJKMNP-TV-Z]{26}$" }
    SourceId:
      name: source_id
      in: path
      required: true
      schema: { type: string, pattern: "^src_[0-9A-HJKMNP-TV-Z]{26}$" }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: Client-generated. Replays return the original result rather than re-running.
      schema: { type: string, maxLength: 255 }

  responses:
    Unauthorized:
      description: Missing or invalid credentials
      content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }
    NotFound:
      description: |
        Absent, or present but outside the caller's privacy scope. These are deliberately
        indistinguishable — a 403 would confirm that another tenant's record exists.
      content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }
    Unprocessable:
      description: Well-formed but semantically invalid
      content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }
    RateLimited:
      description: Rate limited
      headers:
        Retry-After: { schema: { type: integer }, description: Seconds }
        RateLimit-Remaining: { schema: { type: integer } }
      content: { application/json: { schema: { $ref: "#/components/schemas/ErrorEnvelope" } } }

  schemas:
    # ---- enums. Every one carries `unknown`; clients must tolerate unseen values.
    SubjectDomain:
      type: string
      enum: [llm_model, operating_system, database, messaging_queue, saas_platform, language_runtime, repo_library, unknown]
    BugType:
      type: string
      enum: [security, functional, performance, compatibility, breaking_change, deprecation, build, unknown]
    RecordOrigin:
      type: string
      enum: [crawled, scan_derived, eval_derived, unknown]
    PrivacyScope:
      type: string
      enum: [public, subscriber, tenant, unknown]
    LifecycleState:
      type: string
      enum: [candidate, active, fixed, disputed, retracted, superseded, unknown]
    JobType:
      type: string
      enum: [crawl, extract, scan_fetch, scan_analyze, package_pull, unknown]
    JobState:
      type: string
      enum: [queued, running, succeeded, failed, budget_exceeded, cancelled, unknown]
    Role:
      type: string
      enum: [member, tenant_admin, unknown]
    Disposition:
      type: string
      enum: [confirmed, not_applicable, already_handled, wrong, deferred, unknown]
    Ecosystem:
      type: string
      enum: [pypi, npm, maven, go, cargo, rubygems, nuget, unknown]

    # ---- applicability, a tagged union (data-model §2)
    Applicability:
      oneOf:
        - $ref: "#/components/schemas/VersionRange"
        - $ref: "#/components/schemas/BuildRange"
        - $ref: "#/components/schemas/TimeWindow"
        - $ref: "#/components/schemas/ModelRevision"
      discriminator:
        propertyName: kind
        mapping:
          version_range: "#/components/schemas/VersionRange"
          build_range: "#/components/schemas/BuildRange"
          time_window: "#/components/schemas/TimeWindow"
          model_revision: "#/components/schemas/ModelRevision"
    VersionRange:
      type: object
      required: [kind]
      properties:
        kind: { type: string, const: version_range }
        scheme: { type: string, enum: [semver, pep440, maven, generic] }
        introduced_in: { type: string, nullable: true }
        fixed_in: { type: string, nullable: true, description: Exclusive — this version has the fix }
    BuildRange:
      type: object
      required: [kind, builds]
      properties:
        kind: { type: string, const: build_range }
        builds: { type: array, items: { type: string } }
    TimeWindow:
      description: SaaS platforms ship no version; behaviour changes on a date.
      type: object
      required: [kind, observed_from]
      properties:
        kind: { type: string, const: time_window }
        observed_from: { type: string, format: date-time }
        observed_until: { type: string, format: date-time, nullable: true }
    ModelRevision:
      description: An identifier plus, optionally, when behaviour shifted under it.
      type: object
      required: [kind, model_id]
      properties:
        kind: { type: string, const: model_revision }
        model_id: { type: string }
        effective_from: { type: string, format: date-time, nullable: true }

    # ---- core resources
    Component:
      type: object
      required: [ref, subject_domain]
      properties:
        ref: { type: string, description: Canonical name after alias resolution }
        subject_domain: { $ref: "#/components/schemas/SubjectDomain" }
        ecosystem: { $ref: "#/components/schemas/Ecosystem" }
        display_name: { type: string }
    Bug:
      description: A catalog record flattened with its current version.
      type: object
      required: [id, scope, origin, lifecycle_state, bug_type, subject_domain, component, applicability, title]
      properties:
        id: { type: string }
        scope: { $ref: "#/components/schemas/PrivacyScope" }
        origin: { $ref: "#/components/schemas/RecordOrigin" }
        lifecycle_state: { $ref: "#/components/schemas/LifecycleState" }
        bug_type: { $ref: "#/components/schemas/BugType" }
        subject_domain: { $ref: "#/components/schemas/SubjectDomain" }
        component: { $ref: "#/components/schemas/Component" }
        applicability: { $ref: "#/components/schemas/Applicability" }
        title: { type: string }
        description: { type: string, nullable: true }
        evidence_url: { type: string, nullable: true }
        current_version_id: { type: string }
        superseded_by: { type: string, nullable: true }
        observed_at: { type: string, format: date-time }
    BugVersion:
      type: object
      required: [id, version_no, title, observed_at]
      properties:
        id: { type: string }
        version_no: { type: integer }
        title: { type: string }
        description: { type: string, nullable: true }
        evidence_url: { type: string, nullable: true }
        observed_at: { type: string, format: date-time }
    Citation:
      description: The edge that makes a finding grounded rather than asserted.
      type: object
      required: [bug_version_id]
      properties:
        bug_version_id: { type: string }
        bug_id: { type: string }
        evidence_url: { type: string, nullable: true }
    Finding:
      type: object
      required: [id, scan_id, bug_type, title, citations]
      properties:
        id: { type: string }
        scan_id: { type: string }
        component: { $ref: "#/components/schemas/Component" }
        bug_type: { $ref: "#/components/schemas/BugType" }
        title: { type: string }
        detail: { type: string, nullable: true }
        reachable:
          type: boolean
          nullable: true
          description: null means undetermined — reported with lower confidence, never suppressed.
        confidence: { type: number, minimum: 0, maximum: 1 }
        version_confirmed:
          type: boolean
          description: False when applicability matched only because the version was unknown.
        disposition: { $ref: "#/components/schemas/Disposition" }
        citations:
          type: array
          items: { $ref: "#/components/schemas/Citation" }
          description: Empty only for own-code findings, which are a separate evidence class.
    Scan:
      type: object
      required: [id, job_id, repo_ref, grounding_complete, created_at]
      properties:
        id: { type: string }
        job_id: { type: string }
        repo_ref: { type: string }
        commit_sha: { type: string, nullable: true }
        grounding_complete:
          type: boolean
          description: False when package resolution was incomplete — the scan is partial.
        uncovered_components: { type: integer }
        finding_count: { type: integer }
        created_at: { type: string, format: date-time }
    Job:
      type: object
      required: [id, type, state, created_at]
      properties:
        id: { type: string }
        type: { $ref: "#/components/schemas/JobType" }
        state: { $ref: "#/components/schemas/JobState" }
        failure_reason: { type: string, nullable: true }
        result_url: { type: string, nullable: true }
        created_at: { type: string, format: date-time }
        started_at: { type: string, format: date-time, nullable: true }
        finished_at: { type: string, format: date-time, nullable: true }
    JobHandle:
      type: object
      required: [job_id, state]
      properties:
        job_id: { type: string }
        state: { $ref: "#/components/schemas/JobState" }
        poll_url: { type: string }

    # ---- dependency check
    Dependency:
      type: object
      required: [ecosystem, name]
      properties:
        ecosystem: { $ref: "#/components/schemas/Ecosystem" }
        name: { type: string }
        version: { type: string, nullable: true, description: Opaque; never normalised by the API }
        direct: { type: boolean, default: true }
    DependencyCheckRequest:
      type: object
      required: [dependencies]
      properties:
        dependencies:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/Dependency" }
        bug_types:
          type: array
          items: { $ref: "#/components/schemas/BugType" }
        include_fixed:
          type: boolean
          default: true
          description: Fixed records still match affected versions — a fix adds a remedy.
    DependencyMatch:
      type: object
      required: [dependency, bug_id, bug_type, title, citation]
      properties:
        dependency: { $ref: "#/components/schemas/Dependency" }
        bug_id: { type: string }
        bug_type: { $ref: "#/components/schemas/BugType" }
        title: { type: string }
        fixed_in: { type: string, nullable: true }
        version_confirmed: { type: boolean }
        citation: { $ref: "#/components/schemas/Citation" }
    NotCovered:
      type: object
      required: [ecosystem, name, reason]
      properties:
        ecosystem: { $ref: "#/components/schemas/Ecosystem" }
        name: { type: string }
        version: { type: string, nullable: true }
        reason:
          type: string
          enum: [component_not_in_catalog, ecosystem_unsupported, version_unparseable, unknown]
    DependencyCheckResult:
      type: object
      required: [matches, not_covered, checked_at]
      properties:
        matches: { type: array, items: { $ref: "#/components/schemas/DependencyMatch" } }
        not_covered:
          type: array
          items: { $ref: "#/components/schemas/NotCovered" }
          description: Reported explicitly — silence would read as a clean bill of health.
        checked_at: { type: string, format: date-time }

    ScanRequest:
      type: object
      required: [repo_ref]
      properties:
        repo_ref: { type: string, description: Git URL or installation-scoped repository reference }
        commit_sha: { type: string, nullable: true }
        bug_types: { type: array, items: { $ref: "#/components/schemas/BugType" } }
    DispositionRequest:
      type: object
      required: [disposition]
      properties:
        disposition: { $ref: "#/components/schemas/Disposition" }
        reason: { type: string, nullable: true, maxLength: 2000 }

    # ---- tenancy
    Tenant:
      type: object
      required: [id, name, created_at]
      properties:
        id: { type: string }
        name: { type: string }
        created_at: { type: string, format: date-time }
    Membership:
      type: object
      required: [user_id, tenant_id, role]
      properties:
        user_id: { type: string }
        tenant_id: { type: string }
        email: { type: string, format: email }
        role: { $ref: "#/components/schemas/Role" }
        joined_at: { type: string, format: date-time }
    Invite:
      type: object
      required: [id, email, role, expires_at]
      properties:
        id: { type: string }
        email: { type: string, format: email }
        role: { $ref: "#/components/schemas/Role" }
        invited_by: { type: string }
        expires_at: { type: string, format: date-time }
    InvitePreview:
      description: Deliberately minimal — visible without authentication.
      type: object
      required: [tenant_name, email, expires_at]
      properties:
        tenant_name: { type: string }
        email: { type: string, format: email }
        invited_by_name: { type: string }
        expires_at: { type: string, format: date-time }
    Principal:
      description: |
        What a key acts as. FR-80 — every key is bound to exactly one user or one team, never
        the tenant as a whole, because per-team and per-user usage attribution depends on it.
      type: object
      required: [kind, id]
      properties:
        kind: { type: string, enum: [user, team, unknown] }
        id: { type: string }
        display_name: { type: string }
    ApiKey:
      type: object
      required: [id, name, prefix, principal, created_at]
      properties:
        id: { type: string }
        name: { type: string }
        principal: { $ref: "#/components/schemas/Principal" }
        prefix: { type: string, description: First 8 characters, for identification }
        last_used_at: { type: string, format: date-time, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
    ApiKeyWithSecret:
      allOf:
        - $ref: "#/components/schemas/ApiKey"
        - type: object
          required: [secret]
          properties:
            secret: { type: string, description: Shown once. Not retrievable afterwards. }
    Source:
      type: object
      required: [id, url, schedule, scope, created_at]
      properties:
        id: { type: string }
        url: { type: string }
        subject_domain: { $ref: "#/components/schemas/SubjectDomain" }
        component_ref: { type: string, nullable: true }
        schedule: { type: string, description: Cron expression }
        scope: { $ref: "#/components/schemas/PrivacyScope" }
        enabled: { type: boolean }
        last_success_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
    SourceRequest:
      type: object
      required: [url, schedule]
      properties:
        url: { type: string }
        subject_domain: { $ref: "#/components/schemas/SubjectDomain" }
        component_ref: { type: string, nullable: true }
        schedule: { type: string }
        enabled: { type: boolean, default: true }
        credential_secret_ref: { type: string, nullable: true }

    # ---- auth
    DeviceCode:
      type: object
      required: [device_code, user_code, verification_uri, interval, expires_in]
      properties:
        device_code: { type: string }
        user_code: { type: string }
        verification_uri: { type: string }
        interval: { type: integer }
        expires_in: { type: integer }
    TokenPair:
      type: object
      required: [access_token, refresh_token, expires_in]
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        token_type: { type: string, const: Bearer }
        expires_in: { type: integer }

    # ---- reporting
    UsageReport:
      type: object
      required: [from, to, rows]
      properties:
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }
        rows:
          type: array
          items:
            type: object
            properties:
              key: { type: string }
              scan_count: { type: integer }
              findings_count: { type: integer }
    TokenUsageReport:
      type: object
      required: [from, to, rows]
      properties:
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }
        rows:
          type: array
          items:
            type: object
            properties:
              job_type: { $ref: "#/components/schemas/JobType" }
              input_tokens: { type: integer }
              output_tokens: { type: integer }
              cached_input_tokens: { type: integer }
              cost_micros: { type: integer }
    CoverageReport:
      type: object
      required: [rows]
      properties:
        rows:
          type: array
          items:
            type: object
            properties:
              subject_domain: { $ref: "#/components/schemas/SubjectDomain" }
              origin: { $ref: "#/components/schemas/RecordOrigin" }
              component_count: { type: integer }
              record_count: { type: integer }
              last_updated_at: { type: string, format: date-time, nullable: true }

    # ---- errors and pagination
    ErrorEnvelope:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              description: Stable and machine-readable. Branch on this, never on `message`.
            message: { type: string }
            details:
              type: array
              items:
                type: object
                properties:
                  field: { type: string }
                  issue: { type: string }
            request_id: { type: string }
    PageMeta:
      type: object
      properties:
        next_cursor: { type: string, nullable: true }
    BugPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Bug" } }
    BugVersionPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/BugVersion" } }
    ComponentPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Component" } }
    ScanPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Scan" } }
    FindingPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Finding" } }
    JobPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Job" } }
    SourcePage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Source" } }
    MembershipPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Membership" } }
    InvitePage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Invite" } }
    TenantPage:
      allOf:
        - $ref: "#/components/schemas/PageMeta"
        - type: object
          required: [items]
          properties:
            items: { type: array, items: { $ref: "#/components/schemas/Tenant" } }
